<div class="box">
  <div class="logo-wrapper">
    <a href="/" class="waste">waste</a><a href="/" class="bin">bin</a>
  </div>

  <div class="buttons-wrapper">
    <button class="btn" type="submit">
      <i class="fa-solid fa-floppy-disk"></i>
    </button>
  </div>
</div>
