<div class="box">
  <div class="logo-wrapper">
    <a href="/" class="waste">waste</a><a href="/" class="bin">bin</a>
  </div>

  <div class="buttons-wrapper">
    <button class="btn" type="submit" aria-label="Save file"
      <%= currentPage === 'new' ? '' : 'disabled'%>
    >
      <i class="fa-solid fa-floppy-disk"></i>
    </button>
    <a href="/new" class="btn" aria-label="New file">
      <i class="fa-solid fa-plus"></i>
    </a>
    <button class="btn" aria-label="Duplicate file and edit"
      <%= locals.id ? '' : 'disabled' %>
    >
      <i class="fa-solid fa-file-signature"></i>
    </button>
    <button class="btn" aria-label="Plain text"
      <%= locals.id ? '' : 'disabled' %>
    >
      <i class="fa-solid fa-file-lines"></i>
    </button>
  </div>
</div>
