<div class="controls-wrapper">
  <div class="logo-wrapper">
    <a href="/" class="waste">waste</a><a href="/" class="bin">bin</a>
  </div>

  <div class="buttons-wrapper">
    <button class="btn" type="submit">save</button>
  </div>
</div>
