@media screen and (min-width: 320px) {
  body {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 18px;
  }
}

body {
  background-color: #0d1117;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  padding: 1rem 0.5rem;
}

pre {
  margin: 0;
}

#codeEditor {
  padding-top: 0;
  padding-bottom: 0;
}
