body {
  background-color: #0d1117;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  .wrapper,
  .controls-wrapper,
  textarea {
    font-size: 16px;
  }
}
@media screen and (min-width: 1000px) {
  .wrapper,
  .controls-wrapper,
  textarea {
    font-size: 18px;
  }
}

.wrapper {
  display: flex;
  padding: 1rem 0.5rem;
  font-family: monospace;
}

pre {
  margin: 0;
}

#codeEditor {
  padding-top: 0;
  padding-bottom: 0;
}

.line-numbers {
  color: #8e9499;
  text-align: end;
}

textarea {
  background: transparent;
  margin: 0;
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  padding: 0;
  margin-left: 1rem;
  color: #c9d1d9;
  min-height: calc(100vh - 2rem);
}

.controls-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  font-family: sans-serif;
}

.logo-wrapper {
  background-color: #080b0f;
  padding: 1rem 1.5rem 0.5rem;
}

.logo-wrapper a {
  margin: 0;
  text-decoration: none;
  color: #5a7da6;
  font-size: 1.8rem;
  font-style: italic;
}

.logo-wrapper a:hover {
  color: #99c8ff;
}

.logo-wrapper .waste {
  font-weight: bold;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
  padding: 0.5rem 0.8rem 0.5rem;
  background-color: #141a24;
}

.btn {
  border: none;
  outline: none;
  background-color: #5a7da6;
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  color: #0b1014;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  background-color: #99c8ff;
}
