body {
  background-color: #0d1117;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  .wrapper,
  textarea {
    font-size: 16px;
  }
}
@media screen and (min-width: 1000px) {
  .wrapper,
  textarea {
    font-size: 18px;
  }
}

.wrapper {
  display: flex;
  padding: 1rem 0.5rem;
  font-family: monospace;
}

pre {
  margin: 0;
}

#codeEditor {
  padding-top: 0;
  padding-bottom: 0;
}

.line-numbers {
  color: #8e9499;
  text-align: end;
}

textarea {
  background: transparent;
  margin: 0;
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  padding: 0;
  margin-left: 1rem;
  color: #c9d1d9;
  min-height: calc(100vh - 2rem);
}

.controls-wrapper {
  position: fixed;
  top: 0;
  right: 0;
}
